# ── Database (TiDB Cloud) ─────────────────────────────────
DB_HOST=gateway01.ap-southeast-1.prod.alicloud.tidbcloud.com
DB_PORT=4000
DB_USER=xxxxxxxxx.root
DB_PASSWORD=isi_password_tidb_kamu
DB_NAME=bioskop_db

# ── JWT ───────────────────────────────────────────────────
JWT_SECRET_KEY=isi_dengan_string_random_panjang
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=480

# ── Email (Gmail SMTP) ────────────────────────────────────
MAIL_USERNAME=emailkamu@gmail.com
MAIL_PASSWORD=app_password_gmail_16_karakter
MAIL_FROM=emailkamu@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_FROM_NAME=Bioskop 7

# ── Midtrans ─────────────────────────────────────────────
MIDTRANS_SERVER_KEY=SB-Mid-server-xxxxxxxxxxxxxxxx
MIDTRANS_CLIENT_KEY=SB-Mid-client-xxxxxxxxxxxxxxxx
MIDTRANS_IS_PRODUCTION=False

# ── Cloudinary ───────────────────────────────────────────
CLOUDINARY_CLOUD_NAME=nama_cloud_kamu
CLOUDINARY_API_KEY=api_key_kamu
CLOUDINARY_API_SECRET=api_secret_kamu

VITE_API_BASE_URL=http://localhost:8000
VITE_MIDTRANS_CLIENT_KEY=SB-Mid-client-xxxxxxxxxxxxxxxx

# Development
ALLOWED_ORIGINS=http://localhost:5173

# Production nanti:
# ALLOWED_ORIGINS=https://bioskop7.vercel.app,http://localhost:5173